<div>


<div class="textarea_small">
<textarea class="textarea_small">Simple Yet Creative</textarea><br/></div><textarea class="textarea_big">Dishes from our exhibition kitchen, are sure to stimulate the most sophisticated palette. Jimmy’s Urban Bar and Grill features Killer Cuisine; house smoked meats, and pork belly bacon, fresh gourmet burgers , amazing fried chicken sandwiches, creative vegetarian offerings, entrée sized salads and five star taste on a two star budget. Killer Cocktails and Craft Beers on Tap. Our new bar with its magnificent selection of specialty drinks, martinis and a delightful outdoor patio area create an urban ambiance second to none. Jimmy’s Urban Bar and Grill serves lunch, Happy Hour Specials, Saturday / Sunday brunch and monthly seasonal dinner menu . In addition with our outside catering team (Urban Chefs Catering) we are able to cater functions offsite for any number of people.
</textarea><br/>


<textarea class="textarea-small">Our Philosophy</textarea><br/><textarea class="textarea-big">To sell delicious and remarkable food and drinks . That the food and beverages we sell meets the highest standards of quality , freshness and seasonality and combines both modern creative and traditional styles of cooking. Ton consistently provide our customers with impeccable service in a clean and comfortable environment. To have every customer who visits our restaurant to leave impressed by Jimmy’s Urban Bar &amp; Grill and be excited to come back soon.
</textarea><br/>

</div>