<body>
  <center><div>
    <h2>Please choose a page to edit</h2><br/>
  </div>
  <table>
    <tr>
      <th><a href="/admin">Home</a></th>
      <th><a href="/admin/about_us">About Us</a></th>
      <th><a href="/admin/menu">Menu</a></th>
      <th><a href="/admin">Location</a></th>
      <th><a href="/admin">Contact Us</a></th>
      <th><a href="/admin">Reserve</a></th>
    </tr>
  </table>
</body>
