
<body class="page page-id-14 page-template page-template-template-contact-php sidebar-right chrome">
<!-- BEGIN #wrapper -->
<div id="wrapper">


	<!-- BEGIN #header -->
	<header id="header" class="clearfix">

		<!-- BEGIN #top -->
		<div id="top" class="col-full">

			<!-- BEGIN #logo -->
			<div id="logo" class="fl">
				<h1><a href="http://lodojimmys.com" title=""><img id="default-logo" src="http://lodojimmys.com/wp-content/uploads/2014/08/logo.png" alt="" /><img id="retina-logo" src="http://lodojimmys.com/wp-content/uploads/2014/08/logo.png" alt="" /></a></h1>			<!-- END #logo -->
			</div>

			<!-- BEGIN #navigation -->
			<nav id="navigation">

			<div class="menu-main-navigation-container">
        <ul id="main-nav" class="nav fl sf-js-enabled clearfix">

          <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://lodojimmys.herokuapp.com/">Home</a></li>

          <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="http://lodojimmys.herokuapp.com/about_us">About Us</a></li>

          <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://lodojimmys.herokuapp.com/menu">Menu</a></li>

          <li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="http://lodojimmys.herokuapp.com/location">Location</a></li>

          <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item menu-item-25"><a href="http://lodojimmys.herokuapp.com/contact_us">Contact Us</a></li>
        </ul>

  <!-- BEGIN #header -->
  <header id="header" class="clearfix">
    <!-- BEGIN #top -->
    <div id="top" class="col-full">
      <!-- BEGIN #logo -->
      <div id="logo" class="fl">
        <h1><a href="http://lodojimmys.com" title=""><img id="default-logo" src="http://i557.photobucket.com/albums/ss15/Zomisos/logo.png" alt="" /><img id="retina-logo" src="http://i557.photobucket.com/albums/ss15/Zomisos/logo.png" alt="" /></a></h1>     <!-- END #logo -->
      </div>

    <!-- END #top -->
    </div>
  <!-- END #header -->
  </header>
<!-- BEGIN #container -->
<div id="container" class="clearfix">
<nav class="responsive-nav"></nav>

<!-- BEGIN #content -->
<section id="content" class="full-width contact-us">
              <aside class="nice-contact-sidebar">
          <div class="box">
            <header>
              <h3>Address</h3>
            </header>
            1530 Blake St Unit B<br />
Denver, CO 80202 <br />
              <p>Phone: (303) 298-5000</p>
          </div>
        </aside>
      <div class="nice-contact-form">
        <header>
          <h3>Contact Us</h3>
        </header>
          <div class="entry">
                      </div>
          <div id="node"></div>
          <div id="success">Thank you for leaving a message.</div>
          <form name="nice_contact" id="nice_contact" action="/contact_us" method="post" >
          <p>
            <label for="name" form="nice_contact">Your Name<span class="required">*</span></label>
            <input type="text" id="name" name="name" value="" class="required" />
          </p>
          <p>
            <label for="subject" form="nice_contact">Subject</label>
            <input type="text" name="subject" id="subject" value="" />
          </p>
          <p>
            <label for="mail" form="nice_contact">Your E-Mail<span class="required">*</span></label>
            <input type="text" name="mail" id="mail" value="" class="required email" />
          </p>
          <p>
            <label for="message" form="nice_contact">Your Message<span class="required">*</span></label><br />
            <textarea name="message" id="message" class="required"></textarea>
          </p>
          <p>
          <input type="submit" value="Submit" />
          </p>
          </form>
        </div>
    <!-- END #content -->
    </section>

  <!-- END #container -->
  </div>
  <!-- BEGIN #footer -->
  <footer id="footer">
    <!-- BEGIN #footer-widget -->
    <div id="footer-widgets" class="col-full">
      <div class="widget-section odd">
            <div class="box widget widget_nice_social">
        <div class="social-links clearfix">
          <ul id="social">
            <li id="facebook"><a href="https://www.facebook.com/JimmysUrbanBarandGrill"></a></li><li id="twitter"><a href="http://www.Twitter.com/@lodojimmys"></a></li><li id="yelp"><a href="http://www.yelp.com/biz/jimmys-urban-bar-and-grill-denver"></a></li><li id="urbanspoon"><a href="http://www.urbanspoon.com/r/17/1748175/restaurant/LoDo/Jimmys-Urban-Bar-Grill-Denver"></a></li>         </ul>
        </div>
            </div>
  <div class="box widget widget_text">      <div class="textwidget"><div class="OTButton"><script type="text/javascript" src="https://secure.opentable.com/ism/link.aspx?rid=112705&restref=112705&bgimage=https://secure.opentable.com/img/frontDoor/ot_btn_red.png&hover=1"></script><noscript id="OT_noscript"><a href="http://www.opentable.com/jimmys-urban-bar-and-grill-reservations-denver?rtype=ism&restref=112705" >Reserve Now On OpenTable.com</a></noscript><a id="OTPoweredBy" class="OTPoweredBy" href="http://www.opentable.com/jimmys-urban-bar-and-grill-reservations-denver?rtype=ism&restref=112705" ></a></div></div>
    </div>      </div>
      <div class="widget-section even">
        <div class="box widget widget_nice_opening_hours"><div class="day clearfix"><span class="name">Monday</span><span class="hours">11:00 AM &mdash; 10:00 PM<br /></span></div><div class="day clearfix"><span class="name">Tuesday</span><span class="hours">11:00 AM &mdash; 12:00 AM<br /></span></div><div class="day clearfix"><span class="name">Wednesday</span><span class="hours">11:00 AM &mdash; 10:00 PM<br /></span></div><div class="day clearfix"><span class="name">Thursday</span><span class="hours">11:00 AM &mdash; 12:00 AM<br /></span></div><div class="day clearfix"><span class="name">Friday</span><span class="hours">10:00 AM &mdash; 01:00 AM<br /></span></div><div class="day clearfix"><span class="name">Saturday</span><span class="hours">10:00 AM &mdash; 01:00 AM<br /></span></div><div class="day clearfix"><span class="name">Sunday</span><span class="hours">10:00 AM &mdash; 09:00 PM<br /></span></div></div>      </div>
      <div class="widget-section odd last">
        <div class="box widget widget_nice_feedback"><div class="feedback fade">
<div class="feedback-list">
<div id="quote-46" class="quote">
<blockquote class="feedback-text no-img">I thought it was going to be standard but it's was great. I would eat here again.
Mac and cheese is great and the burgers are solid!</blockquote>
<cite class="feedback-author">Gary M.</cite>
</div>
<div id="quote-59" class="quote">
<blockquote class="feedback-text no-img">Barnyard Mac and cheese with crust chicken is very good! Attentive service, friendly place</blockquote>
<cite class="feedback-author">Darryl</cite>
</div>
<div id="quote-60" class="quote">
<blockquote class="feedback-text no-img">Stopped by for lunch( twice ). Menu was excellent and priced well. I had the BBQ  brisket and pork sandwich. Also tried the green chili with pork. Wait staff cordial and knowledgable. Try the ghost fries. I'd go again.</blockquote>
<cite class="feedback-author">Gil E.</cite>
</div>
<div id="quote-47" class="quote">
<blockquote class="feedback-text no-img">I love this place...Best food, drinks, atmosphere, and learning!!</blockquote>
<cite class="feedback-author">Miranda</cite>
</div>
</div>
<div class="pagination">
<a href="#" class="btn-prev">&larr; Previous</a>
<a href="#" class="btn-next">Next &rarr;</a>
</div>
</div>
</div>      </div>
      <div class="fix"></div>

    <!-- END #footer -->
    </div>


    <div id="extended-footer">
      <div class="col-full">

        <p>Copyright Jimmys Urban Bar and Grill 2014 (Design by Justin Murphy)</p>
        <nav id="footer-navigation">
          <div class="menu-main-navigation-container"><ul id="footer-nav" class="nav fl sf-js-enabled clearfix"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://lodojimmys.com/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="http://lodojimmys.com/about-us/">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://lodojimmys.com/menu/">Menu</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="http://lodojimmys.com/location/">Location</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item menu-item-25"><a href="http://lodojimmys.com/contact-us/">Contact Us</a></li>
</ul></div>       </nav>
      </div>
    </div>

  <!-- END #footer -->
  </footer>

<!-- END #wrapper -->
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-41884879-1', 'auto');
  ga('send', 'pageview');
</script>
      <a href="#" class="backtotop">
        <span>Top</span>
      </a>
    <script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/comment-reply.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/masonry.min.js?ver=3.1.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2'></script>
</body>
