    <!-- BEGIN .flexslider -->
    <div class="flexslider slider">

      <ul class="slides">



          <li>
            <img src="http://i557.photobucket.com/albums/ss15/Zomisos/home-gallery_large_2.jpg" class="nice-image"  title="art_gallery_large" alt="Dining"  />
          </li>



          <li>
            <img src="http://i557.photobucket.com/albums/ss15/Zomisos/home-gallery_large_1.jpg" class="nice-image"  title="" alt=""  />
          </li>


      </ul>

    <!-- END .flexslider -->
    </div>
