
<head>
  <meta charset="UTF-8">
  <title>Bars Denver | LoDo Restaurant &amp; Bar | Dinner, Lunch &amp; Happy Hour </title>
  <!-- Pingback URL -->
  <link rel="pingback" href="http://lodojimmys.com/xmlrpc.php">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- This site is optimized with the Yoast WordPress SEO plugin v1.6.1 - https://yoast.com/wordpress/plugins/seo/ -->
  <meta name="description" content="Jimmy’s is an American restaurant and bar in Denver. Our urban bar and grill offers dinner, lunch, brunch and happy hour. Come in to our gastropub, today!">
  <link rel="canonical" href="http://lodojimmys.com/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Bars Denver | LoDo Restaurant &amp; Bar | Dinner, Lunch &amp; Happy Hour">
  <meta property="og:description" content="Jimmy’s is an American restaurant and bar in Denver. Our urban bar and grill offers dinner, lunch, brunch and happy hour. Come in to our gastropub, today!">
  <meta property="og:url" content="http://lodojimmys.com/">
  <script async="" src="//www.google-analytics.com/analytics.js"></script>
  <script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "url": "http://lodojimmys.com/", "potentialAction": { "@type": "SearchAction", "target": "http://lodojimmys.com/?s={search_term}", "query-input": "required name=search_term" } }</script>
  <link rel="alternate" type="application/rss+xml" title=" » Feed" href="http://lodojimmys.com/feed/">
  <link rel="alternate" type="application/rss+xml" title=" » Comments Feed" href="http://lodojimmys.com/comments/feed/">
  <link rel="alternate" type="application/rss+xml" title=" » Home Comments Feed" href="http://lodojimmys.com/home/feed/">
  <link rel="stylesheet" id="nice-style-css" href="http://lodojimmys.com/wp-content/themes/Jimmy/style.css?ver=3.9.2" type="text/css" media="all">
  <link rel="stylesheet" id="nice-fancybox-css" href="http://lodojimmys.com/wp-content/themes/Jimmy/includes/css/jquery.fancybox.css?ver=3.9.2" type="text/css" media="all">
  <link rel="stylesheet" id="nice-options-styles-css" href="http://lodojimmys.com/wp-content/themes/Jimmy/includes/css/nice-options.css?ver=3.9.2" type="text/css" media="all">
  <style type="text/css">
#wrapper, .infobox .entry-title{ border-top-color: #C3572D; }
.entry blockquote{ border-left-color:#C3572D; }
.flex-caption p a { border-bottom-color:#C3572D; }
a, span.required, #footer .testimonials .feedback .feedback-url, .menu-box li .title a:hover, .wp-pagenavi span.current, #extended-footer a:hover, .nice-contact-form #node { color: #C3572D; }
#navigation .nav li:hover a, #navigation .nav li.current_page_item a,  #navigation .nav > li.current-menu-item a, #navigation .nav > li.sfHover, #top #navigation .nav li.current-menu-parent > a { color: #C3572D !important; }
.infobox .entry-excerpt a.read-more, .nav li ul, .menu-box .featured-image a, .nice-contact-form input[type="submit"]:hover,
#commentform .button:hover, #respond input[type="submit"]:hover , #tabs .inside .tags a:hover, ul.four-col-grid .thumb a, .infobox .thumb a, .single .featured-image a, .post .featured-image a{ background-color: #C3572D; }
#wrapper, #header { margin: 0 auto; max-width: 1020px; }
body, .bg-image { background-image : url(http://lodojimmys.com/wp-content/uploads/2014/08/background1.png); }
body, .bg-image { background-color : #eeeeee; }
body, .bg-image { background-position : left top; }
body, .bg-image { background-repeat : repeat; }
#header #top #logo #default-logo, #header #top #logo #retina-logo { height : 100px; }

</style>
<meta name="generator" content="Jimmy 1.2.0">
<meta name="generator" content="Nice Framework 1.1.5">
<script type="text/javascript" src="http://lodojimmys.com/wp-includes/js/jquery/jquery.js?ver=1.11.0"></script>
<script type="text/javascript" src="http://lodojimmys.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
<script type="text/javascript">
/* <![CDATA[ */
var php_data = {"menu_text":"Go To..."};
/* ]]> */
</script>
<script type="text/javascript" src="http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/general.js?ver=3.9.2"></script>
<script type="text/javascript" src="http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/jquery.fancybox.js?ver=3.9.2"></script>
<script type="text/javascript" src="http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/imagesloaded.min.js?ver=3.9.2"></script>


</head>
<body>

</body>
