


    <% menu_item.each do |item| %>

    <h1>
      <%= item.name %>
      <span class="price"><%= item.price %></span>
    </h1><br/>

      <span class="menu-categories">



      <div class="post-content entry">
        <p><%= item.description %></p>
      </div>

  <% item_category.each do |category| %>
      <h4><span class="menu-categories"><a href="http://lodojimmys.com/menu-category/specialty-sandwiches/" rel="tag"><%= category.name %></a></span></h4>

  <%end%>
  <%end%>


  </aside>



  <section class="single-menu-meta">

    <div class="menu-meta clearfix"><span>Gluten Free</span>No</div><div class="menu-meta clearfix"><span>Vegetarian</span>No</div><div class="menu-meta clearfix"><span>Vegan</span>No</div>
  </section>


  <!-- END #container -->
  </div>