<% menu_item.each do |item| %>
    <h1>
      <%= item.name %>
      <span class="price_is_right"><%= item.price %></span>
    </h1><br/>
    <h4>
      <span class="menu-categories">
        <% item_category.each do |category| %>
        <a href="http://lodojimmys.com/menu-category/specialty-sandwiches/" rel="tag"><%= category.title %></a>
        <%end%>
      </span>
    </h4>
      <div class="post-content entry">
        <p><%= item.description %></p>
      </div>
<%end%>




<section class="single-menu-meta">

  <div class="menu-meta clearfix"><span>Gluten Free</span>No</div><div class="menu-meta clearfix"><span>Vegetarian</span>No</div><div class="menu-meta clearfix"><span>Vegan</span>No</div>
</section>


<!-- END #container -->
</div>
