<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8" />
  <title>Bars Denver | LoDo Restaurant &amp; Bar | Dinner, Lunch &amp; Happy Hour </title>

 <link rel="stylesheet" href="<%= url('main.css') %>">
<link rel='stylesheet' id='nice-style-css'  href='http://lodojimmys.com/wp-content/themes/Jimmy/style.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='nice-fancybox-css'  href='http://lodojimmys.com/wp-content/themes/Jimmy/includes/css/jquery.fancybox.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='nice-options-styles-css'  href='http://lodojimmys.com/wp-content/themes/Jimmy/includes/css/nice-options.css?ver=3.9.2' type='text/css' media='all' />
<style type='text/css'>
#wrapper, .infobox .entry-title{ border-top-color: #C3572D; }
.entry blockquote{ border-left-color:#C3572D; }
.flex-caption p a { border-bottom-color:#C3572D; }
a, span.required, #footer .testimonials .feedback .feedback-url, .menu-box li .title a:hover, .wp-pagenavi span.current, #extended-footer a:hover, .nice-contact-form #node { color: #C3572D; }
#navigation .nav li:hover a, #navigation .nav li.current_page_item a,  #navigation .nav > li.current-menu-item a, #navigation .nav > li.sfHover, #top #navigation .nav li.current-menu-parent > a { color: #C3572D !important; }
.infobox .entry-excerpt a.read-more, .nav li ul, .menu-box .featured-image a, .nice-contact-form input[type="submit"]:hover,
#commentform .button:hover, #respond input[type="submit"]:hover , #tabs .inside .tags a:hover, ul.four-col-grid .thumb a, .infobox .thumb a, .single .featured-image a, .post .featured-image a{ background-color: #C3572D; }
#wrapper, #header { margin: 0 auto; max-width: 1020px; }
body, .bg-image { background-image : url(http://lodojimmys.com/wp-content/uploads/2014/08/background1.png); }
body, .bg-image { background-color : #eeeeee; }
body, .bg-image { background-position : left top; }
body, .bg-image { background-repeat : repeat; }
#header #top #logo #default-logo, #header #top #logo #retina-logo { height : 100px; }
</style>
<meta name="generator" content="Jimmy 1.2.0" />
<meta name="generator" content="Nice Framework 1.1.5" />
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var php_data = {"menu_text":"Go To..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/general.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/jquery.fancybox.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/imagesloaded.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/slides.min.jquery.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/feedback.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.4'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/jquery.scrollTo-min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/jquery.localscroll-min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/jquery.flexslider-min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://a.vimeocdn.com/js/froogaloop2.min.js?ver=3.9.2'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://lodojimmys.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://lodojimmys.com/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 3.9.2" />
<link rel='shortlink' href='http://lodojimmys.com/' />

<!-- Custom Favicon -->
<link rel="shortcut icon" href="https://raw.githubusercontent.com/Tmee/Clone-Wars---Jimmy-s/master/lib/app/public/ico/favicon.ico"/>

<!-- Custom CSS -->
<style type="text/css">
.feedback-list{ min-height: 115px; }
#footer .social-links{ text-align: center;}
.feedback-author {padding-right: 25px;}
#footer .textwidget {text-align:-webkit-center}

</style>


<!-- Custom CSS -->
<link href="http://lodojimmys.com/wp-content/themes/Jimmy/custom.css" rel="stylesheet" type="text/css" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Home" />
<meta property="og:url" content="http://lodojimmys.com/" />
<meta property="og:description" content="" />
  <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

  <script type='text/javascript'>
  //<![CDATA[
  jQuery(window).load(function() {

    var vimeoPlayers = jQuery('.flexslider').find('iframe'),
    player;

    for (var i = 0, length = vimeoPlayers.length; i < length; i++) {
      player = vimeoPlayers[i];
      $f(player).addEvent('ready', ready);
    }

    function addEvent(element, eventName, callback) {
      if (element.addEventListener) {
        element.addEventListener(eventName, callback, false)
      } else {
          element.attachEvent(eventName, callback, false);
        }
    }

    function ready(player_id) {
      var froogaloop = $f(player_id);
      froogaloop.addEvent('play', function(data) {
        jQuery('.flexslider').flexslider("pause");
      });
      froogaloop.addEvent('pause', function(data) {
        jQuery('.flexslider').flexslider("play");
      });
    }



    jQuery(".flexslider")
    .flexslider({
      animation: "fade",
      direction: "horizontal",
      reverse: false,
      animationLoop: true,
      randomize:false,
      slideshow: true,
      slideshowSpeed: 7000,
      animationSpeed: 400,
      pauseOnHover: false,
      useCSS: false,
      smoothHeight: true,
      controlNav: true,
      directionNav: false,
      before: function(slider){
        if ( slider.slides.eq(slider.currentSlide).find('iframe').length !== 0 )
          $f( slider.slides.eq(slider.currentSlide).find('iframe').attr('id') ).api('pause');
      }
    });
  });
  //]]>
  </script>

    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>

</head>

<body class="home page page-id-18 page-template page-template-template-home-php sidebar-right chrome">

<!-- BEGIN #wrapper -->
<div id="wrapper">

  <!-- BEGIN #header -->
  <header id="header" class="clearfix">

    <!-- BEGIN #top -->
    <div id="top" class="col-full">

      <!-- BEGIN #logo -->
      <div id="logo" class="fl">
        <h1><a href="http://lodojimmys.herokuapp.com/" title=""><img id="default-logo" src="http://i557.photobucket.com/albums/ss15/Zomisos/logo.png" alt="" /><img id="retina-logo" src="http://i557.photobucket.com/albums/ss15/Zomisos/logo.png" alt="" /></a></h1>     <!-- END #logo -->
      </div>

      <!-- BEGIN #navigation -->
      <nav id="navigation">


      <div class="menu-main-navigation-container">

        <ul id="main-nav" class="nav fl sf-js-enabled clearfix">

          <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-18 current_page_item menu-item-23"><a href="/">Home</a></li>

          <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="/about_us">About Us</a></li>

          <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="/menu">Menu</a></li>

          <li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="/location">Location</a></li>

          <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="/contact_us">Contact Us</a></li>

        </ul>
      </div>
      <!-- END #navigation -->
      </nav>

    <!-- END #top -->
    </div>

  <!-- END #header -->
  </header>
  <h2><marquee behavior="scroll" direction="left" scrollamount="5">We will be closed Thursday, November 27 to celebrate Thanksgiving</marquee></h2>
<!-- BEGIN #container -->
<div id="container" class="clearfix">

<nav class="responsive-nav"></nav>




    <%= yield %>



      <section id="infobox" class="infobox home-block clearfix">


        <ul class="three-col-grid grid clearfix">


        </ul>

      <!-- END #infobox -->
      </section>



  <!-- END #container -->
  </div>

  <!-- BEGIN #footer -->
  <footer id="footer">



    <!-- BEGIN #footer-widget -->
    <div id="footer-widgets" class="col-full">

      <div class="widget-section odd">
            <div class="box widget widget_nice_social">
        <div class="social-links clearfix">

          <ul id="social">
            <li id="facebook"><a href="https://www.facebook.com/JimmysUrbanBarandGrill"></a></li><li id="twitter"><a href="http://www.Twitter.com/@lodojimmys"></a></li><li id="yelp"><a href="http://www.yelp.com/biz/jimmys-urban-bar-and-grill-denver"></a></li><li id="urbanspoon"><a href="http://www.urbanspoon.com/r/17/1748175/restaurant/LoDo/Jimmys-Urban-Bar-Grill-Denver"></a></li>         </ul>
          </div>
        </div>


          <div class="box widget widget_text">
            <div class="textwidget">
              <div class="OTButton">
                  <form method="link" action='/reserve'>
                  <input type="image" src="http://i557.photobucket.com/albums/ss15/Zomisos/imageedit_1_3225289262.gif" class="button_fix">
                  </form>
                </div>
              </div>
            </div>
          </div>


      <div class="widget-section even">
        <div class="box widget widget_nice_opening_hours"><div class="day clearfix"><span class="name">Monday</span><span class="hours">11:00 AM &mdash; 10:00 PM<br /></span></div><div class="day clearfix"><span class="name">Tuesday</span><span class="hours">11:00 AM &mdash; 12:00 AM<br /></span></div><div class="day clearfix"><span class="name">Wednesday</span><span class="hours">11:00 AM &mdash; 10:00 PM<br /></span></div><div class="day clearfix"><span class="name">Thursday</span><span class="hours">11:00 AM &mdash; 12:00 AM<br /></span></div><div class="day clearfix"><span class="name">Friday</span><span class="hours">10:00 AM &mdash; 01:00 AM<br /></span></div><div class="day clearfix"><span class="name">Saturday</span><span class="hours">10:00 AM &mdash; 01:00 AM<br /></span></div><div class="day clearfix"><span class="name">Sunday</span><span class="hours">10:00 AM &mdash; 09:00 PM<br /></span></div></div>      </div>


      <div class="widget-section odd last">
        <div class="box widget widget_nice_feedback"><div class="feedback fade">
<div class="feedback-list">
<div id="quote-47" class="quote">
<blockquote class="feedback-text no-img">I love this place...Best food, drinks, atmosphere, and people!!</blockquote>
<cite class="feedback-author">Miranda</cite>
</div>
<div id="quote-59" class="quote">
<blockquote class="feedback-text no-img">Barnyard Mac and cheese with crust chicken is very good! Attentive service, friendly place</blockquote>
<cite class="feedback-author">Darryl</cite>
</div>
<div id="quote-46" class="quote">
<blockquote class="feedback-text no-img">I thought it was going to be standard but it's was great. I would eat here again.
Mac and cheese is great and the burgers are solid!</blockquote>
<cite class="feedback-author">Gary M.</cite>
</div>
<div id="quote-60" class="quote">
<blockquote class="feedback-text no-img">Stopped by for lunch( twice ). Menu was excellent and priced well. I had the BBQ  brisket and pork sandwich. Also tried the green chili with pork. Wait staff cordial and knowledgable. Try the ghost fries. I'd go again.</blockquote>
<cite class="feedback-author">Gil E.</cite>
</div>
</div>
<div class="pagination">
<a href="#" class="btn-prev">&larr; Previous</a>
<a href="#" class="btn-next">Next &rarr;</a>
</div>
</div>
</div>      </div>
      <div class="fix"></div>

    <!-- END #footer -->
    </div>


    <div id="extended-footer">
      <div class="col-full">

        <p>No Copywrite, none at all (Design by SomeOneElse)</p>
        <nav id="footer-navigation">
          <div class="menu-main-navigation-container">
            <ul id="main-nav" class="nav fl sf-js-enabled clearfix">

            <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-18 current_page_item menu-item-23"><a href="http://lodojimmys.herokuapp.com/">Home</a></li>

            <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="http://lodojimmys.herokuapp.com/about_us">About Us</a></li>

            <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://lodojimmys.herokuapp.com/menu">Menu</a></li>

            <li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="http://lodojimmys.herokuapp.com/location">Location</a></li>

            <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="http://lodojimmys.herokuapp.com/contact_us">Contact Us</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

  <!-- END #footer -->
  </footer>

<!-- END #wrapper -->
</div>
      <a href="#" class="backtotop">
        <span>Top</span>
      </a>
    <script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/comment-reply.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/masonry.min.js?ver=3.1.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2'></script>
</body>
</html>
