<body class='reserve_body'>
  <div id="Global">
    <form name="SearchForm" method="post" action="/jimmys-urban-bar-and-grill-reservations-denver?restref=112705&amp;hover=1&amp;wt=1&amp;" onsubmit="javascript:return WebForm_OnSubmit();" id="SearchForm">
      <div>
      <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
      <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
      <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="j1lrlKP/tayQl8ZdFoKgi4chlceo70Itxrb2B2/G6xqK5pxfFpMDZO1PhVlZpMjXo1PRI3nSlRQV4AG10+QB3e+QOV24oDGlThz87T+lB1L0n3YE8+gFmG/h0VjXhX/EvXuITugQW1iDf3fZ+TUBM3haOxmeTNT9GZkm+NCHaULCOqUYi7k6TOWK5Nxso4d4IMFZe21LTa6JGo5S2F+feLBRNyoo5KUg12c8bJiRvHFBOUSB6AjsrJjqWtlVq6JS+FG0//tAjOs3kHZY2RnEiUTzUrJY3s1qD2/izzcIY09T6MGXhyMimiOlWbRL27XfswDinbrS8XypMEGYeUFJJRxqJ6ugzN4V9R5esYpqh5WUtgt/3nw1pFlzNY24QugFYASS6sRNtZeq0OgBQ/fzIquEYZTiqXF1FM/wgRPRBOGaJCHEn9ifguvhrVfv5NuH1t25lr0wFBK9L++I9WlzkK3wCE6ojcow8r+eF5wNzH/5XrNQTtjsHqlAxOJS73UnykDwhlZ+m7L3gwkV7R7TTRgdRqvX/ZJ5TTHiJsMWLlpDwRt4jraojajCHepMcu7ZX18P/LfDDwDpzF5YPG3oes4oVJXF3cMWRhd9SlBLfOSI34Q75FXbi7TbwF5wwdPvQ/QSfN96iWd+2K4LpifD0FTuip54M/oy5gEes6xNMsHPI4o0V2yWQ1SrnnVkN3OhbIR4LoytUNKExqt7HcT3TD9Y36/laG9/AZD2Y3nlQB6ksfWnrGUGW18k7xdJubDNnPKQK9Wki7Ul9ZIs6jwxL0lswU+faFYhqQz5CQCstcS3O43WjE6hZX5gnGjrfnBVHV0nMcNb+bD9Ot6dNl/OtfacgZHAD0/4mWuhD6mmPqyVb93kfXt9gsiO0WM4RmCh4VQNAP5HraeCC6FhoV/VRn/tNsl4BfrZD7pK/BvsyzbgBrjvwXXn0aUZpzAfe05GDxCDokKVOXKl6PyFIZiJen/fSxH7vtQbm6EH+oKQKRT5IoAX6HQWbaMsIqG8msplJz5Qtxy+AXtC3+gIbB7aVbQAXlzvmMKW1+7by+WQPshV08emlschvOgrpH5Pt7SvcY07oCajWaWEoxYkx1hVlqEjtFiKixUWAW9FBhzWijYjArRjOQjVJ+cGF4TTp1cp5apt+LG6LC4VOTE7u/MuqDUytzOv0pJI6oQVGCy6ZMtOF8nbB/zLfmSSJZV9A6b9LB6o46TjucMOkceVEDxM7fXUApPFHqXCedIt6Tkd9ukc4mxG0x8cJL3TUfSWsEHmumRNfI9oX1z1Pwn5sUvMXCPvwHdTt8xndUTw7MOC5aY7U3HjdjMI5irvTFeO9iYlU/BYuaDn5GyVfLQJvwoCuuTcjlZG0igsZduIe9xaE8z2C0s1I2cT3Y1QgM4+E5GitzMmv0w0DA3UM/A1w4dXlg/qimNci7j8BfUXqjBBfcPjIMu/zswef08heANjFyi01Hk/RAKdBWSeMcfszZYvFiBu2wVPabztOX0dG514uG5f8+FVo1vefPoKTynNjZFNmea8W5Rrb3OI9ntc6iNfkilqJnVtfsLuZB9EiHL2teMwDkbXp+UncQLM3ikRHYICxSiVKcZ6RYgriBoXdoLl5mzXeDLz0KUM6VTB31x8thj9xlLxrxYyoHX08RjTFnInRA/ACOgjL5Gwl9jtAi9tVy+N/rbeoRyEdxszz9GlGtYa9CZlU34pE0E5g+WWdUAnYGH1+pKpG6pd/pPasHPn1jting19Wr3WUu/djL8V7V4P+reKeRe9+CiqG23NFNvxjFkuIxLO9xwlIjx4t0sg5vifM83tTPKijOHGaARKAWcosh4JlkDCpLk45nzbvFyReOox8E6rqRDOsWlJJYiJnD8RROZCiOal/TLMUF24GhplLe0i/uNZsP63eX8PaYRIbYbFrOvHb80ClV5nfxTwBP6UjjQMmBnYwRmwP6Ebv8lNh7MuekejCEa+HY8mN05yLhQ1STx3WWlfqPu8NJqphYpaO00rT7BQXaMjmrZvtHnnsq8mniw1ZnwXAOhozkJStW8yqLyKQrLtlcAEr+e+DVzLiFlCqCsZOx4r9eMQYAzpmdlA09XVer+uVr9e+TOkBVvkbGBSiBPQlNokYTvq/0onU20hXgpQAfnS3/qJd0Df4doM2DvXTGAxKtXYXj2yNB0hoInjylHiW+3e0TeJgeI8UMxrLNQnCBqvaYtG+MNDadADiCGolO4bATDK/Ze0HMlvHETeo7Bet9RXi/JXB24fWOgFBCvYFu+Fqvqx3425mfKGHJOJGq8/pjsnPq2r0get7hjmThM1XuBsY685IvxUYYAXHLfizoHwtGNPEvo1wV6fu0AkFODmAi7oZu7oa/K+5GKpkQT51wO20hzrr0Vbim15rDUykSS9bnM2c594QoUhmOBF4Mm97JvjZimL43bYvmTGUJHtH3OPCTzLhiaqBqasryIca7wWbM/tXFcDXKByLl5M2PwRF89tJ9D0zVZN9QbrdSpdAfJImBbpmDJIeE7+QHD9vIg0D0Y8QRuvwcbwsq3+BnXJb1nVp8CXnNkSuAayt7VLLj0t44WlOPOpLW+wfhw12tCMWQIrX8rM2r4FFe3TIeYF6Tk51zftDwUUByPHlF/UI+CbHjkRqzI9DS+5oOE3A982c2xkPfRLc1Yz9tbPlypNM38Bq+0r0hC9kTQzTY1x1+cN6sMCy9iKN47WeQ6pax2bwNzYYpJ/fbYjbuChZZMAu5YxSUliGbmOLkedQd3nJA0MVIbvzRk9TQXZhJNEVZ5AzqdA0QQJ07DVKpVqSCzfESBcIMNwaddvpq94U2Cwt6tEb8B7uwa25IVne0oR/lvob+D5GSPnG47ZgvQ0iAwu+NO3eQm55+wuKojQt/gtE03zA6/mR9iAHvByg2GXSxrCSBCXVa1u5gBVQP9oL4XaR+NsS6hDObIdxVS+gCYHZEcmXP3wwGzONxagUXSyBXfLNCJls1Iy6vOn6h20G00nc5y2XupiDYXtPmftb15IdFPAujyoxjZ+4xrT0XklXdhl6p2t3evYinJLk5GuS0zq38vDkp6+cCstjI7SF3S47ahgIizZ5eTYxCWsEKeoxQVafKeBoxVk49rRNZNNqpqd7JzU95uL9HzPL3414Iu0NIn+1iKvuvSkPUbLqjnYHBny5xKaTz5G5wozG4ABl0eA/991+Z182KbvxEWDVOFma4hT3l2RHaWsZF89TcF6A5jKf/CWOsQJrS/3O1RugGzIlEaxs2Z+7Xplyjiz2PFY7hGlDDkbOKjCPLS2P7+3klCq2liZa+XDUBTaW4i3lRcipKNbeeb1ZvNvLk698qZLlY3EYslKZXRZHHyawKvVAjw3EAUcZS2YJbDTT2OqP0f8XQCAljql6SVELhpahVIXbv5c0BV1bH5mapE/wUoMme/sxHUHPrG7v0O5fin0ngsx+h4LlUhTyU1aBhpswUUA3IIx8UU7iDUV0OgjBqhU0hRb4XYcuvOs6d+8KEnmH2L71mWA+eUJvIrnxrsANFFpNoWj6qzXIFsBQi4XvZbl++sVf4QIrKZ7c01/VOY7ySHhTXOB7jlJQF0wdxv0FAS+g4YdAe4iaQR6rPWbQTSKYYGUdD80djuQVbA4ZKC8zwnKjt6HHD553uwDM6HJTwwOEIVEBERSsNP9u82CNCPWSILuW7N5jy8k8tresmHFlhT4EAm5+Z95nhUXMVhadjBrbGAIY7sqIFsbudTYGCCxGuP9CPfeNMKxbnGiedscJCumbGDgqmGquAxe6vSTm49r4X+0M0XdtF8PShzNUOIg7HMO7tBWJmkd9xbaSLc3jryZQ4g6l/p08KSUziJ7HEerEsDsI0xrsJ7RCsOUv8C2670fkRmlXG9Qq2zjnNjt8B512ba6UW/R4XJxHyVdY8/6D/UiayHKfD714an1mPjEBHeJu+zyvrK3b7DJ0zb4Vd7YP0gV3OnhJUUANzvzyCBl04O6tKH+RepDH0XHXtfhSBaY69N+dPimhONfvWtPd3T55CNkVsnUH/DL5staoCbBytKJpFToT8FB17JgrvxQTI04Qv2QPSsUEhkTz12GvHKrE32GYCJKftP2uDxVGkbTygyKuwpmbF94u9XD+zgVDYd7FPIo+xAQHtD5eJcRNYdKNXUilGCNw3Ki48qB9y+zyQff4aKe2XulSiwdiZw42tvtB5Fr4X8BcYdQXEOu1phNzDEKFFmdGsK7a+dBEzK2Ph3sE0yXaAMsR9rMSxbGA9mxo6i3qPo72cHosTmORnvnED0r0ajOb5J2wulP12Xro0TzT0XAEZ62IqJbCzAEud7WLyKZcqMZg/FZiE0j9W1DC0S6mRnwLw/GKSFL5ccMmaFWqMqPj2hGeNF1MfJsLdaDePY67m2XdIWv7h8F+hqm9FZOdxptDfdE2YriCWwR/MfNuW1dugushg8ljN1ZWtrayYY6z28m8t8Q5QFXPRH525l3GGR4e0YTUbLxIVQe4dBISkzzSH9r14LeeL6cQYqnxZ3SOeRGkuGKkP4fn4v8evQdcy58CoEFco6al/6mh4YbcbNr5gd27K6ynwPuqUDwDCzV38HHG3O80oKOT4LHEXCBhDozalQpGkpuf1tXjFgDqjwF5yqUap8=" />
      </div>

    <script type="text/javascript">
    //<![CDATA[
      var theForm = document.forms['SearchForm'];
        if (!theForm) {
            theForm = document.SearchForm;
        }
        function __doPostBack(eventTarget, eventArgument) {
            if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                theForm.__EVENTTARGET.value = eventTarget;
                theForm.__EVENTARGUMENT.value = eventArgument;
                theForm.submit();
            }
        }
        //]]>
    </script>


<script src="/WebResource.axd?d=pbpsqT695XsR8Wft24PjtRShHy0n0Ch4d69C5t69qfWJY-h-kxM1-gF50iwqQ4-EbnTGEZaS6FPeervBGDibMEsBtvg1&amp;t=635270407374778606" type="text/javascript"></script>


<script src="/jscripts/FbConnect.js" type="text/javascript"></script>
<script src="/jscripts/Internal/Widgets/Social/GPlusSignInButton.js" type="text/javascript"></script>
<script src="/jscripts/imgCalendar_intl.js" type="text/javascript"></script>
<script src="/WebResource.axd?d=9MIXDm5qSekQJGh0ZMKoUBXqK1cTtQYEqPx-grAa4m7SLiJb1ZCChVIyrhawOT2OuVn_ebQiUDkVj7xQIiHA_ywQcGU1&amp;t=635270407374778606" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div>

  <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="6E843F7D" />
  <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="QzZvhC5WGOrg83qtXksgIGWemycIs5aWcPSlu28UJE0oVbP14oOmSj+3yX/C2PwK2wIyx6evJUhhCDit9VAyvC4yFtn8pXelnC3RBY7zrMzsVCoJfSO7ixpeD7Wuhtkrvjysq15eTTcCC7NBAOr1GRrEioTxBKqlE0vKAri3DkXoCIynQmuSaMnLic55cWYDUiBYpwTstBoqsqpDckMQMSbQyiAwkYQ4z2LLJK8kjwatqHflAGfIARbIOa6nTMEsy7nqtxnpmfcySU7gmYXR1OGE5PpgQil3bc7iM544+dw8fKYcaP5Ohqgp+0SSVJM3gZSC/JZTIzEbuSu9eo2rYIKv2iSXMqzY/Ha+/aHT+sc/noTfc1eFfoinuKd9O9xwE9GMeesHCbAbHYpDWgz5v5EfUfDk36bDEKiYMNS5QothKE98L60JSjCZh3+5sPDms37CLkZwliZnKRbDZDibWVpfhhCbuj9Jvwnssp/fgwsOO4kNgRxGFiwEthjovaLWhHpQakarnO32+kZRISCPw4oV996g2+jYADKkV1G5c5VB5ksmWeYEKs5B6i1BYaVc8jspNR43TH+KxiE9nEjZKZnaODIGce8b1wLxQwFVEV8m70KJd+Wc25GEmGQ+73Q6+T2C1Q+SEh0DGVk1OAQt4tRfWJX9QvoOKrJlhaa7jCwmKRRw" />
</div>
      <div class="innerWrapper">
      <img id="RestImage" class="restImage" src="/img/restimages/restref/112705.jpg" style="border-width:0px;" />

      <script type="text/javascript">m_sCookieDomain = '.opentable.com';  m_sSitePath = '/';</script>
<!-- BEGIN TOP -->







<div id="TopNav_Header" class="TopNav_Header">
  <div id="TopNav">


        <span id="TopNav_lblHeaderPromo"></span>

        <div id="TopText">

    </div>



    <ul id="RestNameUL">
      <li class="RestaurantNameItem" id="RestaurantNameItem">
        <p id="RestaurantName">
          <span id="TopNav_lblRestName">Jimmy's Urban Bar & Grill</span>
        </p>
      </li>
      <li class="RestaurantNameItem" id="OnlineReservationsItem">
        <p id="OnlineReservations">
          <span id="TopNav_lblOnlineReservations">Online Reservations</span>
        </p>
      </li>
    </ul>

    <div class="fixTopNavGhost"></div>


      <div id="AdControlIntegratedHeader_filler" class="adFiller"><!-- ie --></div>
    <div class="dividerImg"></div>


  </div>
</div>

<div id="TopNav_pnlDomainFix">

  <script type="text/javascript">
    jQuery(function() {
      // To allow communication between the login/register popups for UK and cobrand sites
      //since domain data is not consistent between client side and server side
      var oSignIn = document.getElementById("TopNav_linkSignIn");
      var sHost = document.location.hostname;
      if (oSignIn) {
        oSignIn.href = oSignIn.href.replace("/www.opentable.com/",  "/" + sHost + "/");
      }
    });
  </script>

</div>
      <div id="SingleSearch">
          <div id="SearchHeaderNew" class="HeadBackground">
          <b><span id="lblHeaderText">Make a reservation now at Jimmy's Urban Bar & Grill Restaurant:</span></b>
          </div>
        <div id="MainModule">


        <div id="searchModuleWrapper">
          <div id="SearchModule">
            <p id="SelectText">
              <span id="lblSearch">To book a table</span>
              <span id="lblSelectText">Select Date, Time, Party Size </span>
            </p>
            <p id="SearchControl">
<form>
  <div>
  <div id="SearchNav_divSearchBoxes" class="SimpleSearchWrapper">
    <div id="divDatePickerWrapper" class="SimpleSearchDatePickerWrapper">

  <div class="SearchDatePicker"><!-- was DatePickerControl -->
    <span id="SearchNav_OTDateSearch_lblDateLabel" class="DatePickerControlDateEditLabel SearchLabel">Date</span>
    <br class="labelbr hideBR" />





      <!-- Deliberately NOT initializing the resource key for the validator,
      since we want to control it, its in the resource but string is parameterized.
      If you are re-generating resources for this page, ensure that you strip resource information from this control -->
      <span id="SearchNav_OTDateSearch_valDateChecker" style="color:Red;display:none;"></span>
      <span id="SearchNav_OTDateSearch_valDateTimeCheck" style="color:Red;display:none;"></span>
      <div id="cal1" class="imgCal" style="display:normal;">
      <select name="SearchNav$OTDateSearch$cboHourList" id="SearchNav_OTDateSearch_cboHourList" class="DatePickerControlHourDropDown genericSelect" onfocus="killAllCalendars();" onchange="return ValidateDateTime()">
              <option value="1">1__</option>
              <option value="2">2__</option>
              <option value="3">3__</option>
              <option value="4">4__</option>
              <option value="5">5__</option>
              <option value="6">6__</option>
              <option value="7">7__</option>
              <option value="8">8__</option>
              <option value="9">9__</option>
              <option value="10">10___</option>
              <option value="11">11___</option>
              <option value="12">12___</option>
            </select>
      <select name="SearchNav$OTDateSearch$cboHourList" id="SearchNav_OTDateSearch_cboHourList" class="DatePickerControlHourDropDown genericSelect" onfocus="killAllCalendars();" onchange="return ValidateDateTime()">
              <option value="1">1___</option>
              <option value="2">2___</option>
              <option value="3">3___</option>
              <option value="4">4___</option>
              <option value="5">5___</option>
              <option value="6">6___</option>
              <option value="7">7___</option>
              <option value="8">8___</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
       <select name="SearchNav$OTDateSearch$cboHourList" id="SearchNav_OTDateSearch_cboHourList" class="DatePickerControlHourDropDown genericSelect" onfocus="killAllCalendars();" onchange="return ValidateDateTime()">
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              </select>


      </div>


    <p id="pFormatParagraph" class="DatePickerControlFormatParagraph">
      <span id="SearchNav_OTDateSearch_lblDisplayDate" class="DatePickerControlDateFormat">mm  /  dd  /  yyyy</span>
    </p>
  </div>
  <div id="divHourPart" class="SearchTime">
    <span id="SearchNav_OTDateSearch_lblHourLabel" class="DatePickerControlHourLabel SearchLabel">Time</span>
    <br class="labelbr hideBR" />
    <div class="FieldContainer genericSelectWrapper">
      <select name="SearchNav$OTDateSearch$cboHourList" id="SearchNav_OTDateSearch_cboHourList" class="DatePickerControlHourDropDown genericSelect" onfocus="killAllCalendars();" onchange="return ValidateDateTime()">
        <option value="12:00 AM">12:00 AM</option>
        <option value="12:30 AM">12:30 AM</option>
        <option value="1:00 AM">1:00 AM</option>
        <option value="1:30 AM">1:30 AM</option>
        <option value="2:00 AM">2:00 AM</option>
        <option value="2:30 AM">2:30 AM</option>
        <option value="3:00 AM">3:00 AM</option>
        <option value="3:30 AM">3:30 AM</option>
        <option value="4:00 AM">4:00 AM</option>
        <option value="4:30 AM">4:30 AM</option>
        <option value="5:00 AM">5:00 AM</option>
        <option value="5:30 AM">5:30 AM</option>
        <option value="6:00 AM">6:00 AM</option>
        <option value="6:30 AM">6:30 AM</option>
        <option value="7:00 AM">7:00 AM</option>
        <option value="7:30 AM">7:30 AM</option>
        <option value="8:00 AM">8:00 AM</option>
        <option value="8:30 AM">8:30 AM</option>
        <option value="9:00 AM">9:00 AM</option>
        <option value="9:30 AM">9:30 AM</option>
        <option value="10:00 AM">10:00 AM</option>
        <option value="10:30 AM">10:30 AM</option>
        <option value="11:00 AM">11:00 AM</option>
        <option value="11:30 AM">11:30 AM</option>
        <option value="12:00 PM">12:00 PM</option>
        <option value="12:30 PM">12:30 PM</option>
        <option value="1:00 PM">1:00 PM</option>
        <option value="1:30 PM">1:30 PM</option>
        <option value="2:00 PM">2:00 PM</option>
        <option value="2:30 PM">2:30 PM</option>
        <option value="3:00 PM">3:00 PM</option>
        <option value="3:30 PM">3:30 PM</option>
        <option value="4:00 PM">4:00 PM</option>
        <option value="4:30 PM">4:30 PM</option>
        <option value="5:00 PM">5:00 PM</option>
        <option value="5:30 PM">5:30 PM</option>
        <option value="6:00 PM">6:00 PM</option>
        <option value="6:30 PM">6:30 PM</option>
        <option selected="selected" value="7:00 PM">7:00 PM</option>
        <option value="7:30 PM">7:30 PM</option>
        <option value="8:00 PM">8:00 PM</option>
        <option value="8:30 PM">8:30 PM</option>
        <option value="9:00 PM">9:00 PM</option>
        <option value="9:30 PM">9:30 PM</option>
        <option value="10:00 PM">10:00 PM</option>
        <option value="10:30 PM">10:30 PM</option>
        <option value="11:00 PM">11:00 PM</option>
        <option value="11:30 PM">11:30 PM</option>

      </select>
          </div>
  </div>
  <input type="hidden" name="SearchNav$OTDateSearch$hidDtVal" id="SearchNav_OTDateSearch_hidDtVal" value="11/04/2014" />
  <input type="hidden" name="SearchNav$OTDateSearch$hdnDefTimeval" id="SearchNav_OTDateSearch_hdnDefTimeval" value="7:00 PM" />


    </div>
    <div id="divPartySize" class="SimpleSearchPartySizeWrapper">
      <span id="SearchNav_lblPartySizeLabel" class="SimpleSearchPartySizeLabel">Party Size</span><br class="labelbr" />
      <div class="FieldContainer">
        <select name="SearchNav$cboPartySize" id="SearchNav_cboPartySize" class="SimpleSearchPartySize">
          <option value="1">1 person</option>
          <option selected="selected" value="2">2 people</option>
          <option value="3">3 people</option>
          <option value="4">4 people</option>
          <option value="5">5 people</option>
          <option value="6">6 people</option>
          <option value="7">7 people</option>
          <option value="8">8 people</option>
          <option value="9">9 people</option>
          <option value="10">10 people</option>
          <option value="11">11 people</option>
          <option value="12">12 people</option>
          <option value="13">13 people</option>
          <option value="14">14 people</option>
          <option value="15">15 people</option>
          <option value="16">16 people</option>
          <option value="17">17 people</option>
          <option value="18">18 people</option>
          <option value="19">19 people</option>
          <option value="20">20 people</option>

          </select>
        </div>
      </div>

          <p>
            <label for="mail" form="nice_contact">Your E-Mail<span class="required">*</span></label>
            <input type="text" name="mail" id="mail" value="" class="required email" />
          </p>

        </form><br/>

      </div>

    <div id="SearchNav_divFindTable" class="SimpleSearchFindTableWrapper">
      <input type="submit" value="Reserve a Table" onclick= >
          </div>
  </div>
    <div id="SearchNav_divValidationError" class="ValidationError">
      <div id="SearchNav_vsErrorSummary" class="NavSearchErrorSummary" style="color:Red;display:none;">

</div>
    </div>
      <input name="SearchNav$txtHid_RestaurantID" type="hidden" id="SearchNav_txtHid_RestaurantID" value="112705" />
      <input name="SearchNav$txtHid_MetroAreaID" type="hidden" id="SearchNav_txtHid_MetroAreaID" value="5" />
      <input name="SearchNav$txtHidServerTime" type="hidden" id="SearchNav_txtHidServerTime" value="11/4/2014 12:46:53 PM" />
      <input name="SearchNav$txtHid_RName" type="hidden" id="SearchNav_txtHid_RName" value="Jimmy&#39;s Urban Bar &amp; Grill" />
    </div>


              <p id="BottomText">
                <span id="lblBottomText">Reservations are free and "confirmed" almost instantly. <a href="https://github.com/Tmee/Clone-Wars---Jimmy-s">Find out how online reservations work</a>.<br></span></p>
            </p>
          </div>
        </div>

<div id="SingleMainModule">
  <ul id="SingleRestaurantInfo">
    <li id="RestaurantName" class="RestaurantName">
      <span id="RestInfoWB_lblRestaurantName">Jimmy's Urban Bar & Grill</span></li>
    <li id="RestaurantAddress" class="RestaurantAddress">
      <span id="RestInfoWB_lblAddressTitle" class="Title">Address:</span>
      <span id="RestInfoWB_lblFullAddress" class="Text">1530 Blake Street, Unit B, Denver, CO  80202</span></li>
    <li id="RestaurantNeighborhood" class="RestaurantNeighborhood">
      <span id="RestInfoWB_lblNeighborhoodTitle" class="Title">Neighborhood:</span>
      <span id="RestInfoWB_lblNeighborhood" class="Text">Downtown / LoDo</span></li>
    <li id="RestaurantCuisine" class="RestaurantCuisine">
      <span id="RestInfoWB_lblCuisineTitle" class="Title">Cuisine:</span>
      <span id="RestInfoWB_lblCuisine" class="Text">American</span></li>
    <li id="RestaurantPrice" class="RestaurantPrice">
      <span id="RestInfoWB_lblPriceTitle" class="Title">Price:</span>
      <span id="RestInfoWB_lblPrice" class="Text">$30 and under</span></li>
   </ul>
</div>
        </div>
      </div>
      </div>

<!-- BEGIN FOOTER -->




<div id="BotNav_sitefooterWhiteLabel" class="demoFooter">
    <div class="partnered">
        Jimmy's Urban Bar & Grill has, more or less, partnered with Turing 1409 to provide free, mildly (some could could say not at all) secure and instantly confirmed faux reservations.
        <a id="BotNav_linkLearnMore" class="demoFooterLink" href="https://github.com/Tmee/Clone-Wars---Jimmy-s">Learn More.</a>
    </div>

    <ul class="demoFooterList">
        <li id="demoFooterItemOne" class="demoFooterItem">
            <a id="BotNav_linkAgreement" class="demoFooterLink" href="http://www.turing.io/admissions" target="_blank">Turing Terms of Use</a>
        </li>
        <li id="demoFooterPipe" class="demoFooterItem">|</li>
        <li id="demoFooterItemTwo" class="demoFooterItem">
            <a id="BotNav_linkPrivacyPolicy" class="demoFooterLink" href="http://www.turing.io" target="_blank">Turing Privacy Policy</a>
        </li>
        <li id="demoFooterItemThree" class="demoFooterItem">© 2014 Turing 1409, Inc.</li>
    </ul>
</div>


<div id="BotNav_SystemInfo" class="SystemInfo">
    <script type="text/javascript">
        function InsertBuildAndMachineName() {
            var elementSystemInfo = document.getElementById("BotNav_SystemInfo");
            if (elementSystemInfo != null) {
                elementSystemInfo.appendChild(document.createTextNode('(Build Version:Web_14_25_145.prod.com) (Machine Name:SC-NA-WEB-06)'));
            }
        }
        InsertBuildAndMachineName();
    </script>
</div>



<!-- END FOOTER -->


<br />







<!-- SiteCatalyst code version: H.22.1.
Copyright 1997-2011 Adobe, Inc. More info available at
http://www.omniture.com -->
<script type="text/javascript">
<!--
var s_account="otrestref";
 //-->
</script>
<script type="text/javascript" src="/jscripts/s_code.js?v=Web_14_25_145"></script>
<script type="text/javascript">
<!--

s.charSet="UTF-8";
window.optimizely = window.optimizely || [];
window.optimizely.push("sc_activate");
s.pageName="restrefwhitelabelsingle.aspxsearchpage";
s.channel="Denver / Colorado";
s.prop1="Denver / Colorado:search";
s.prop2="Denver / Colorado:search:single";
s.prop7="Logged Out";
s.prop32="Jimmy's Urban Bar & Grill";
s.prop34="CO";
s.prop35="restrefwhitelabel";
s.prop38="restrefwhitelabelsingle.aspxsearchpage";
s.prop54=s_getLoadTime();
s.state="CO";
s.zip="80202";

s.eVar33="112705";
s.eVar36="anonymous";
s.eVar38="112705";
s.eVar39="Denver / Colorado";
s.eVar43="restrefwhitelabelsingle.aspxsearchpage";
s.eVar45="Single.aspxRestRef";
s.eVar50="restrefwhitelabelsingle.aspxsearchpage";
s.eVar57="WebRedesign_Old";
s.eVar74="old_architecture_olddesign";
s.events="event15";
function DoSiteCatalystCall(){
  var s_code=s.t();
if(s_code && s_code!='')document.write('<div style="">' + s_code + '</div>')
}
DoSiteCatalystCall();//-->
</script>
<script type="text/javascript">
<!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//-->
</script>
<noscript><a href="http://www.omniture.com" title="Web Analytics"><img src="http://o.opentable.com/b/ss/otrestref/1/H.22.1--NS/0" height="1" width="1" border="0" alt="" /></a></noscript>
  <!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.22.1. -->


<input id="CurrentOTPage" type="hidden" value="single" />


<div id="BotNav_pnlBrightTag">

    <script type="text/javascript">
        (function () {
            var tagjs = document.createElement("script");
            var s = document.getElementsByTagName("script")[0];
            tagjs.async = true;
            tagjs.src = "//s.btstatic.com/tag.js#site=d0upCKz";
            s.parentNode.insertBefore(tagjs, s);
        }());
    </script>
</div>

<script type="text/javascript">
//<![CDATA[
var alphaMonthArray =  new Array('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec');
var arrDayOfWeekName =  new Array('S', 'M', 'T', 'W', 'T', 'F', 'S');
var Page_ValidationSummaries =  new Array(document.getElementById("SearchNav_vsErrorSummary"));
var Page_Validators =  new Array(document.getElementById("SearchNav_OTDateSearch_valDateChecker"), document.getElementById("SearchNav_OTDateSearch_valDateTimeCheck"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var SearchNav_OTDateSearch_valDateChecker = document.all ? document.all["SearchNav_OTDateSearch_valDateChecker"] : document.getElementById("SearchNav_OTDateSearch_valDateChecker");
SearchNav_OTDateSearch_valDateChecker.controltovalidate = "SearchNav_OTDateSearch_theOTDate";
SearchNav_OTDateSearch_valDateChecker.errormessage = "You have entered an invalid date. Please re-enter a date in the format specified: mm/dd/yyyy";
SearchNav_OTDateSearch_valDateChecker.display = "None";
SearchNav_OTDateSearch_valDateChecker.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
SearchNav_OTDateSearch_valDateChecker.validationexpression = "(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\\d\\d";
var SearchNav_OTDateSearch_valDateTimeCheck = document.all ? document.all["SearchNav_OTDateSearch_valDateTimeCheck"] : document.getElementById("SearchNav_OTDateSearch_valDateTimeCheck");
SearchNav_OTDateSearch_valDateTimeCheck.errormessage = "Please follow the date format specified to enter dates";
SearchNav_OTDateSearch_valDateTimeCheck.display = "None";
SearchNav_OTDateSearch_valDateTimeCheck.evaluationfunction = "CustomValidatorEvaluateIsValid";
var SearchNav_vsErrorSummary = document.all ? document.all["SearchNav_vsErrorSummary"] : document.getElementById("SearchNav_vsErrorSummary");
SearchNav_vsErrorSummary.displaymode = "SingleParagraph";
//]]>
</script>


<script type="text/javascript">
//<![CDATA[
FbInit('123876194314735');AttemptAutoLoginForAnonUser();//]]>
</script>
<script type='text/javascript'>
                                  try {
                                    var gplusClientId = '1011230515163.apps.googleusercontent.com';
                                    var secureHost = 'secure.opentable.com';
                                    window.___gcfg = {parsetags:'explicit', lang:'en-US',  isSignedOut:true, 'oauth-flow': { 'toast': { 'position': 'top' }} };
                                    (function() {
                                      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                      po.src = 'https://apis.google.com/js/client:plusone.js?onload=otgplusonload';
                                      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                    })();
                                  } catch (exception) {
                                    //
                                  }
                                </script>
<script type="text/javascript">
//<![CDATA[
gBlnOverlayClickNoRemove = true;jQuery(function() {{jQuery.receiveMessage(function(e){{HandleChildWindowMessage(e)}},'https://secure.opentable.com')}});var bIsPDPage = 0;
var defaultDateString = 'MM/dd/yyyy';
var hidVarName = 'SearchNav_OTDateSearch_hidDtVal';
var CONST_MONTH_IDX = 0;
var CONST_DATE_IDX = 1;
var CONST_YEAR_IDX = 2;
var MonthDayOrder = '[Month] [Year]';
var sDateDelim = '/';
var dtDefaultDate = '11/04/2014';
var sDefaultFormatErrMsg = 'You have entered an invalid date. Please re-enter a date in the format specified: mm/dd/yyyy';
var rDelimRegEx = /^(|||-|||||||||)|||(|||-|||||||||-||||||||)|||(|||||)||||$/ig;
var iFirstDayOfWeek = 0;
var iGMTOffsetMins = -420;
var sTimeInPastMessage = 'You have entered a date and time that has passed. Please re-enter a valid date and time.';
var sTimeFieldID = 'SearchNav_OTDateSearch_cboHourList';
var sDateFieldID = 'SearchNav_OTDateSearch_theOTDate';
var sDefaultTimeValID = 'SearchNav_OTDateSearch_hdnDefTimeval';
var bIsFavPage = 0;
var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        //]]>
</script>
</form>
  </div>

</body>

