

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head><meta http-equiv="content-type" content="text/html; charset=UTF-8" /><title>
  Jimmy's Urban Bar & Grill reservations in Denver, CO | OpenTable
</title><META NAME="description" CONTENT="Make a restaurant reservation at Jimmy's Urban Bar & Grill in Denver, CO. Select date, time, and party size to find a table."><META NAME="keywords" CONTENT="Jimmy's Urban Bar & Grill reservations, restaurant reservations"><noscript><meta http-equiv="Refresh" content="0; URL=http://www.opentable.com/jimmys-urban-bar-and-grill-reservations-denver?restref=112705&hover=1&wt=1&TB_iframe=true&width=800&height=600&js=0"/></noscript>
<link type="text/css" rel="stylesheet" href="/styles/white/topandbot.css?v=Web_14_25_145.prod.com" />
<link type="text/css" rel="stylesheet" href="/styles/form_elements.css?v=Web_14_25_145.prod.com" />
<link type="text/css" rel="stylesheet" href="/styles/searchModule.css?v=Web_14_25_145.prod.com" />
<link type="text/css" rel="stylesheet" href="/styles/SearchControl.css?v=Web_14_25_145.prod.com" />
<link type="text/css" rel="stylesheet" href="/styles/white/SingleAB.css?v=Web_14_25_145.prod.com" /><script type="text/javascript" src="/jscripts/ScriptHandler.ashx?f=jquery&amp;z=true&amp;v=Web_14_25_145.prod.com"></script>
    <script type="text/javascript">
        jQuery.noConflict();
    </script>
<link rel="canonical" href="http://www.opentable.com/jimmys-urban-bar-and-grill" /><script type="text/javascript" src="/jscripts/otlibrary.js?ver=Web_14_25_145.prod.com"></script><script type="text/javascript"> try { if (parent != self && parent.detailsccframe) {parent.location.replace(location.href);} } catch(err) {}</script><script type="text/javascript" >var OTCurrentPage='single';</script><script type="text/javascript" src="//cdn.optimizely.com/js/174495938.js" ></script><script type="text/Javascript" src="/jscripts/thickbox.js?v=Web_14_25_145.prod.com"></script>
<link href="/styles/thickbox.css?v=Web_14_25_145.prod.com" rel="stylesheet" type="text/css" />
<script type="text/Javascript" src="/jscripts/lib/thirdparty/ba-postmessage.js?v=Web_14_25_145.prod.com"></script>
</head>
<body>
  <div id="Global">
    <form name="SearchForm" method="post" action="/jimmys-urban-bar-and-grill-reservations-denver?restref=112705&amp;hover=1&amp;wt=1&amp;TB_iframe=true&amp;width=800&amp;height=600" onsubmit="javascript:return WebForm_OnSubmit();" id="SearchForm">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="iNoe/7/LwF4gwTsvqKkGwtjWkhxXDY/Ik163MtlXEwLhmCErYjDAD8PZznKOoAMAI8IgV4CWiWHOOXYBBX8LbYySTw8s682sTdsknianElNXcjm1sDALOKxc6e+ofOUOQAEknB6c5NrLCqAO2+K9VfAslPyzAmP1IUU8TpBNC5sPW1ipTAVr+Gw5S9w0pHcmXChpvI/leSGgzA+qn3lmjuQ4o9rkms05hYQDitGlbIYNn/UwREXF+POTY/dOhMR9HIHSKSV4cyFhgUlANKJRFSTQxIUoy2MQoyLPpLVlRT50tcDpDZ8bHF09lr51tW+wRU5+NoJAeTR+u97HRFWPCcmyJrkkQPm7c38TEoEDbYsW2Owirgxf7ndJA4OShBiFJD2Coj9jtpVF5G9aNvmAVH6LVW+OTMTY3RDHAoS1X15iDPjU4Tfweou+II1dOIHun2D7bKCYOsdMxl0ItCgTaO0sPxvzVudhlNsTv4VJdTZsmmRZ1WzBTcAEQGFQuXsEj9CwZEXeTogdgjfaK0kHVI+6fVC9N0rdyC27Fok3zIhdRmKqyl0gEq5AGfcyJSoMCAoHpMIdOK58Xc/Humbhq39QSb370/zOcvO15FtPUCPTEr5njbiI5h0tCB2TaE3AE1NYFHXTXn23OO1bzt0Y6cDTYcXJK/iLUuZ8kJOrFQoS/jl56qB3hcn5oyjb9jLBxo30qX1AxuDkutUdqC31cuBFc5Y07XNZv6xJOo7QX79cmL4DCAK06uJuyxLsbGqBQoXmCR6QtslpUIIY/35qVs9n33DvbzoXeaK2vS9fRwdijoq9iOS9nKMlxgJsnQegWDT73Dc+wQHSDl/LaEEQdhCziLvELD/kKTQ/QUyC7ThPKhKFE9YyIXz0cqLmDS/3Mtqt5WfsyyjPDR0cJXkYQEqkjSa/jrkF6cCQAe5Sjm+0591x4KGGCDc8L+efZeAtj0UvrNeZjQMRxhuHyCEOkpYc2C01or/u54iGMvIN6vGSTxliCQsjhVIKOcOxI1H76DdF6MU6gRb9vjQEZrNr4kdVhR1GGBa5iUFI5OMtcJCfi79rXHWGV1bwKtWaVx74i7Winlf3K24V0JiNeUein6bQzFL0aZC+8Mde0ihspy3QlpagK+Zcx3DH2N378bcB4q2I3Jf8kgxsgOWFAm3HHsiz0EbUunhqlWv1vyRrHaGQjJWn1/YKWdbX2CE1b+9xrPxO9QqcGSUZeFzUqSpb2C5DKlGGp0dV2Ly3KZ4V4WxmIIzFa4AW2zir7VRIDydLocTEtw3YwMGHfo+WkC0xJdCPuOCWsOtRZjNtOekjdLhl9a3Xsopl0SUnNn2qpx+Y+Cq4pc5TNKuXkOVnwa3+RzTwyOdcv9mlu3FfhI+VAIdjEu/QFDO3RZSGfHmNTadfDk7mQq4s4JYflIPMwOiaVI0Q50HgcpwF3C4TdKOOT16pnGlUArNGVc6I919USVmyR3EDQTFx4pDjDQ28VsP2nWNDMo7mzbodXnokHfPGMCgqbZdcvccv6EsOinhIVuZ0urPBEzPgb452uDb0VJP/lozFSgBgiYkis3qqlQwdEzVMtuZzXr+SEoykTLjOjS2rVFzGCB8IDP3QwI6c7qagtBQ0A7ga2lDV0WtguWkdG6bU8T/pX8ftFqcRLDwre+51AzWa3pJuEN9PZDX/pG9CTfB4EfXOEHKj2rZZ7BQGZ3aBOegDDF8QGP9hrgG2Y+pUquEj78NIwsw5PHPofuo7IT5jsS4FNrX11/lmMEGg3mOYEzbR8aUcbTe+lRna//e47fbQEBOb7GIpG8bL93DsJv4h6+UdHQP3unBgYKJGxoRzpQOnqPEDNwQjVcdiVIsoOpkKaqJ3g+CarxZT6yTC/bFEQpKCPrGoY1I6OCoSidY7AoImA+fINRpMjOorIkXa5o78T/ZZ+62UIQE+MXlUZigpEjtC5OpY9/m664b2+rPfTUy3bm/LiWV9QZm1sH2YoZ5mNd+qQWto0/+wqk/lAlbHU8dTnNZKJRpxAvizBsVOzWpC9GHiSqmOEQmiGJ2G99uwgFO1DGRYyKwldEafeGzXQ1HyJ8UxxJvElxwnPTtQKD86bDTrbxww2bREZ00He0L7AWR78IeQ/EUem9aa3prG+WdznIHk4XB3O3Kl5zwaJ+cp92+rFcmcTeRXnLuEVO5rS0h7vfXqATSW9qeCB+pWaFSwfSWf328Rymah8O5z8UIiPlF0MoFIoai2SJ0SdJkeL9JQepx8//8l7QYedVXO3OZBK9+h5Rvi+sJ3x5xWrxi0cKd9IwVvfxMztlcK1qDD2O0T9bBHNezPL3KEM9YclwvOnriCgcD84MnPSzQNZgrfgs3H/pWy8OMPB6dmuMksiZICYrJGnW1fWRbfKLGjLFNavLV9OeP82HWIIj5JRdul51jl1DvMFG/w565xs3V9nZY/7zSwZtlRQwCuhxFsULWNs2Pve1kYUxqhDE8PzqeoGqmAV+TMahgUUb1FzZqfByEy1RVGOCSyOTpeDQEkO73uvJ5A+zpjSMsgECsAFQ0A3mEjFqPdsBZOCkyTle66QGOwyZzDsoOnx5Wor/9RfXb1hqVPC/CIryO+5tK/R838HahFVp6sip2vFJMbF8+lPJaJ6yBm1/AtMn5PpMrQlfR8syWd287PRFuZ+vB4hFStoPzXvizQOPKLpxcAdnIZSj9dhCxBmPdoT2LNghnUpXcoYxEPXtFYanZbFz+ugQRiMep3tH4sACIlhMGYvlnTLuMVUx535Xs1aFvnas1x/fF8leVIwXVtXjUWN65IIbXBFnETdRgsIsOs8lhAEPhuB4/nbj5QQ/aZEQ8dRNOHg4FUIA+Si8YglYPeBwHd+2Vnd+cv+QsEn8VrU6IUgTfFG12LyKK0f4oxR6B2IeoSdKBxxPMW2ByR+dlgGcxn6TZifZbO4jYhrZ1/W1EGHFBIDAjFf0hng6FiIoHpTI7mz4LPb7KwIXxydWAmNNGQeW/TdrSO9ItyNOQlMU0cyimKG6ZIrb9ShgEJQgnO+zS0nYgZf3cdSGB8neYkuaJjiPeK7OoCOnkVF7yhp4n+OVtLv9BVku2zoHi2/VOkDpLvTOlOrmLC145wrOGgzC61048GFiSBGS+bsNC1upGXH6fxyMdR/5EPVDWTsCh7IfC69XqPxfpJSRwTEy32yHwluowP6dMIzLapPDAVANLpQt/6IGu4lMeOpy9dtHY1DXice8hxpTPldn7pgBvGJV1IxVqDl45gIDENI2SUMJQZ8sqbHOe1okJSboSX+JBOgoutYkgMvn+e9vhn4Oj60/P6vwa7b/Z3tsIaz/TI7e9l9GUwxPAJNilCDsPHuxFFFUPaMv42xGYo+NdQsynK+5psjRlMtx9dX7k8as3apFV++mvlud4b6G2sokTSA3BPCxSIHx0Ot8cC187MxwGU+LtButjltZfMGwry86sOQWfwkgdWE8/tjxUnZUPIozDa0n5HSi300PQZ4NZTtZ5RouiLjwsrXIALLhr3xBcZ1MB7KCq23r7+dtqLBvUk9hf2JvSp6h+n3Kn++txVO3uFgrf7lIoACrxfOsarlYXbWMcVirtbRJBpQC55fphW7bv4UffcQ3/3Kr3uOO0MjLLqBU/f7V/fOQtKhPXQMIpNGeIzQQ6+/q2j5k28fdJLCyIsI+5wyUsA+W0Wyf3PiyEADMLz8pC0ayQ14rj8RapcWRCvBU2+Nr/X86c1O7uDB9P1uU8+jI8wPP83JQwKagPE4Vjo7dzLAKjXtIYmdi5UO4EqKrzuzV83UhSfTNeCGuebmF5jzyRNE7e68C/mThaeKMgAVMq+kdzyA4tjz6to2gEnas95u+yraPjqjIVzLRxPjUcxdIjYntYNxleoyhKn+/8isgjLFpchoUEtl7Pq0IyqY8yRNdwOg1xYKJzAyXAAqp8iK+gJIHShA8XJwYW83xpdwoU+1cnmmOD+gn7SnhXTgM/TwEo6gZJ6kgmHKjgFAcE5JXmZ7rHzdKahKuN6ifaaLvmMKxdUPDf5YLciCa2bOd1oaSIaTjMFy2QcHdyxgPiFXztexmb/Jx0bkmUZDzFH7Wd+0Kr6RcjJKx5Rtqcp7uKozfcXSeJ/h9KfneEGICxBWcsqwTSjj635nf0xBmLFlMLath/mnUzqXup/FXx8O0Z+n/Oia/q3l+kluANmKVV5kEdprlQ/v4B2I+VRkB6gIysRNdVhi9fGxLKL85KZ38tJSHd9mJBBG9aNU/sM6EkElHI4C9IQeTQMRqfuJ5dudSePE56lEtFSCNif6+dqVW8l8jiu2EeDhvmuU4taYYxcNiiwCWRfviFs5Cgt7FloIuTNemcQIkPN8943U42WIh9VvzTC5/dS80lLZ5ICNfmy/VeasKHR3QLV/yA+PWTVKc2cJeflFXIvIjMD3eAsBkMMzoL6A6NeZX9TVYIK7qft/7Af4wJzX4JJCzRKN0MmZkVS9RkWUgAZZvvKcaaBari6rdrU3dOMspAQJN3rwv9MXsbhlFF7L0rXBA1iQAMeMt4C1kpIpBvg+Fix2LxfES5PWmZtX33fX+OiMEAOCRQ51Ywm8JeKgaLqO0pWA78PCnvyeikVkQBInDnRTscX40/hQh6TDpW2Od2H3nyJ9ZhTxNPcXhAw6iC4cWiMA/UGEiz7MmroYP49UQIJEkUWW5Bdmt9lLFt+mk/Mllz9S+vMYh5jat+jOv9yEDSin2H7i7YMxLIyMbxrt6oB5X543z7qbQ==" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['SearchForm'];
if (!theForm) {
    theForm = document.SearchForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=pbpsqT695XsR8Wft24PjtRShHy0n0Ch4d69C5t69qfWJY-h-kxM1-gF50iwqQ4-EbnTGEZaS6FPeervBGDibMEsBtvg1&amp;t=635259892862741596" type="text/javascript"></script>


<script src="/jscripts/FbConnect.js" type="text/javascript"></script>
<script src="/jscripts/Internal/Widgets/Social/GPlusSignInButton.js" type="text/javascript"></script>
<script src="/jscripts/imgCalendar_intl.js" type="text/javascript"></script>
<script src="/WebResource.axd?d=9MIXDm5qSekQJGh0ZMKoUBXqK1cTtQYEqPx-grAa4m7SLiJb1ZCChVIyrhawOT2OuVn_ebQiUDkVj7xQIiHA_ywQcGU1&amp;t=635259892862741596" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div>

  <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="6E843F7D" />
  <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="BYL81cXB1omKxkqo8+NftLa28wGXSDk6luF06EK/VCIQLGB4cpsYCT5I/xGltCXYDu1CnmT+59X8x0OLnC34jOky6Wo0PLSkhlcqCvecCAph7UWj3lzcn9VDGRWFomOdoCoNaOgWUf4cDirYn7f6uGnPjXCUIIz5YRwADXyOmdOXRaVGAMEIrWImBaUYe60N4cQGiEtpM4EDWEMW2mewtYenrXVC88u0dEIBLaAUO9vAeDcuArliyx/4jxwFk7j3hQI5sEmDuEHUmPOM+AMlUitKOPbzPsl3jpFE5KGhxMsCtsgvrCPc9VEMsPzHBsFwuep3K1DTtkPWU8/e/sTZBcUljTtDtNBc07FtTFkJ84t/1aAKLgWdIqffTstKI3+DuLwvvZfzT+FXTTQqb5q8cT43BdXxmeVvDEwaL07GEv6wV8rnAmjWAwb9qGa2Adg0lcfT2ueflVQVCPO9Uk5U7z+jf9/rPeSIh/fU263YRA3zI2j9HcnjjwatcsGQcwpKJ8AzJs00olpYyH3EL74wqr81LmX4O+bpY68F70GnO9msAwYf0VuqwR8XEss/iLd7xx5FGAOIkei6AxhmwByeR+CalYtWct+UV/1DH9Z4B/uISQUBeYgvrLvT+R9cYsNzVwLb0cPuplVGGR8Hw6qHxB1ZwqGnxOusQWnOyhA4ExF/PfI8" />
</div>
      <div class="innerWrapper">
      <img id="RestImage" class="restImage" src="/img/restimages/restref/112705.jpg" style="border-width:0px;" />

      <script type="text/javascript">m_sCookieDomain = '.opentable.com';  m_sSitePath = '/';</script>
<!-- BEGIN TOP -->







<div id="TopNav_Header" class="TopNav_Header">
  <div id="TopNav">


        <span id="TopNav_lblHeaderPromo"></span>

        <div id="TopText">

    </div>



    <ul id="RestNameUL">
      <li class="RestaurantNameItem" id="RestaurantNameItem">
        <p id="RestaurantName">
          <span id="TopNav_lblRestName">Jimmy's Urban Bar & Grill</span>
        </p>
      </li>
      <li class="RestaurantNameItem" id="OnlineReservationsItem">
        <p id="OnlineReservations">
          <span id="TopNav_lblOnlineReservations">Online Reservations</span>
        </p>
      </li>
    </ul>

    <div class="fixTopNavGhost"></div>


      <div id="AdControlIntegratedHeader_filler" class="adFiller"><!-- ie --></div>
    <div class="dividerImg"></div>


  </div>
</div>

<div id="TopNav_pnlDomainFix">

  <script type="text/javascript">
    jQuery(function() {
      // To allow communication between the login/register popups for UK and cobrand sites
      //since domain data is not consistent between client side and server side
      var oSignIn = document.getElementById("TopNav_linkSignIn");
      var sHost = document.location.hostname;
      if (oSignIn) {
        oSignIn.href = oSignIn.href.replace("/www.opentable.com/",  "/" + sHost + "/");
      }
    });
  </script>

</div>
      <div id="SingleSearch">
          <div id="SearchHeaderNew" class="HeadBackground">
          <b><span id="lblHeaderText">Make a reservation now at Jimmy's Urban Bar & Grill Restaurant:</span></b>
          </div>
        <div id="MainModule">


        <div id="searchModuleWrapper">
          <div id="SearchModule">
            <p id="SelectText">
              <span id="lblSearch">Book a table</span>
              <span id="lblSelectText">Select Date, Time, Party Size </span>
            </p>
            <p id="SearchControl">

<div>
  <div id="SearchNav_divSearchBoxes" class="SimpleSearchWrapper">
    <div id="divDatePickerWrapper" class="SimpleSearchDatePickerWrapper">

  <div class="SearchDatePicker"><!-- was DatePickerControl -->
    <span id="SearchNav_OTDateSearch_lblDateLabel" class="DatePickerControlDateEditLabel SearchLabel">Date</span>
    <br class="labelbr hideBR" />

    <div class="FieldContainer">
      <input name="SearchNav$OTDateSearch$theOTDate" type="text" value="11/03/2014" maxlength="20" readonly="readonly" id="SearchNav_OTDateSearch_theOTDate" class="DatePickerControlDateEdit" onchange="setField(this,null,this.value,&#39;reso&#39;);writeCalendarFor(this, &#39;cal1&#39;);" onfocus="setField(this,null,this.value,&#39;reso&#39;);writeCalendarFor(this, &#39;cal1&#39;);" name="theOTDate" />
    </div>

      <!-- Deliberately NOT initializing the resource key for the validator,
      since we want to control it, its in the resource but string is parameterized.
      If you are re-generating resources for this page, ensure that you strip resource information from this control -->
      <span id="SearchNav_OTDateSearch_valDateChecker" style="color:Red;display:none;"></span>
      <span id="SearchNav_OTDateSearch_valDateTimeCheck" style="color:Red;display:none;"></span>
      <div id="cal1" class="imgCal" style="display:none;"></div><iframe id="cal1Shim" class="imgCal" style="display:none;" scrolling="no" frameborder="0" src="/blank.html"></iframe>

    <p id="pFormatParagraph" class="DatePickerControlFormatParagraph">
      <span id="SearchNav_OTDateSearch_lblDisplayDate" class="DatePickerControlDateFormat">mm/dd/yyyy</span>
    </p>
  </div>
  <div id="divHourPart" class="SearchTime">
    <span id="SearchNav_OTDateSearch_lblHourLabel" class="DatePickerControlHourLabel SearchLabel">Time</span>
    <br class="labelbr hideBR" />
    <div class="FieldContainer genericSelectWrapper">
      <select name="SearchNav$OTDateSearch$cboHourList" id="SearchNav_OTDateSearch_cboHourList" class="DatePickerControlHourDropDown genericSelect" onfocus="killAllCalendars();" onchange="return ValidateDateTime()">
  <option value="12:00 AM">12:00 AM</option>
  <option value="12:30 AM">12:30 AM</option>
  <option value="1:00 AM">1:00 AM</option>
  <option value="1:30 AM">1:30 AM</option>
  <option value="2:00 AM">2:00 AM</option>
  <option value="2:30 AM">2:30 AM</option>
  <option value="3:00 AM">3:00 AM</option>
  <option value="3:30 AM">3:30 AM</option>
  <option value="4:00 AM">4:00 AM</option>
  <option value="4:30 AM">4:30 AM</option>
  <option value="5:00 AM">5:00 AM</option>
  <option value="5:30 AM">5:30 AM</option>
  <option value="6:00 AM">6:00 AM</option>
  <option value="6:30 AM">6:30 AM</option>
  <option value="7:00 AM">7:00 AM</option>
  <option value="7:30 AM">7:30 AM</option>
  <option value="8:00 AM">8:00 AM</option>
  <option value="8:30 AM">8:30 AM</option>
  <option value="9:00 AM">9:00 AM</option>
  <option value="9:30 AM">9:30 AM</option>
  <option value="10:00 AM">10:00 AM</option>
  <option value="10:30 AM">10:30 AM</option>
  <option value="11:00 AM">11:00 AM</option>
  <option value="11:30 AM">11:30 AM</option>
  <option value="12:00 PM">12:00 PM</option>
  <option value="12:30 PM">12:30 PM</option>
  <option value="1:00 PM">1:00 PM</option>
  <option value="1:30 PM">1:30 PM</option>
  <option value="2:00 PM">2:00 PM</option>
  <option value="2:30 PM">2:30 PM</option>
  <option value="3:00 PM">3:00 PM</option>
  <option value="3:30 PM">3:30 PM</option>
  <option value="4:00 PM">4:00 PM</option>
  <option value="4:30 PM">4:30 PM</option>
  <option value="5:00 PM">5:00 PM</option>
  <option value="5:30 PM">5:30 PM</option>
  <option value="6:00 PM">6:00 PM</option>
  <option value="6:30 PM">6:30 PM</option>
  <option selected="selected" value="7:00 PM">7:00 PM</option>
  <option value="7:30 PM">7:30 PM</option>
  <option value="8:00 PM">8:00 PM</option>
  <option value="8:30 PM">8:30 PM</option>
  <option value="9:00 PM">9:00 PM</option>
  <option value="9:30 PM">9:30 PM</option>
  <option value="10:00 PM">10:00 PM</option>
  <option value="10:30 PM">10:30 PM</option>
  <option value="11:00 PM">11:00 PM</option>
  <option value="11:30 PM">11:30 PM</option>

</select>
    </div>
  </div>
  <input type="hidden" name="SearchNav$OTDateSearch$hidDtVal" id="SearchNav_OTDateSearch_hidDtVal" value="11/03/2014" />
  <input type="hidden" name="SearchNav$OTDateSearch$hdnDefTimeval" id="SearchNav_OTDateSearch_hdnDefTimeval" value="7:00 PM" />


    </div>
    <div id="divPartySize" class="SimpleSearchPartySizeWrapper">
      <span id="SearchNav_lblPartySizeLabel" class="SimpleSearchPartySizeLabel">Party Size</span><br class="labelbr" />
      <div class="FieldContainer">
        <select name="SearchNav$cboPartySize" id="SearchNav_cboPartySize" class="SimpleSearchPartySize">
  <option value="1">1 person</option>
  <option selected="selected" value="2">2 people</option>
  <option value="3">3 people</option>
  <option value="4">4 people</option>
  <option value="5">5 people</option>
  <option value="6">6 people</option>
  <option value="7">7 people</option>
  <option value="8">8 people</option>
  <option value="9">9 people</option>
  <option value="10">10 people</option>
  <option value="11">11 people</option>
  <option value="12">12 people</option>
  <option value="13">13 people</option>
  <option value="14">14 people</option>
  <option value="15">15 people</option>
  <option value="16">16 people</option>
  <option value="17">17 people</option>
  <option value="18">18 people</option>
  <option value="19">19 people</option>
  <option value="20">20 people</option>

</select>
      </div>
    </div>
    <div id="SearchNav_divFindTable" class="SimpleSearchFindTableWrapper">
      <input type="submit" name="SearchNav$btnFindTable" value="Find a Table" onclick="google.com" />
    </div>
  </div>
    <div id="SearchNav_divValidationError" class="ValidationError">
      <div id="SearchNav_vsErrorSummary" class="NavSearchErrorSummary" style="color:Red;display:none;">

</div>
    </div>


    <input name="SearchNav$txtHid_RestaurantID" type="hidden" id="SearchNav_txtHid_RestaurantID" value="112705" />
    <input name="SearchNav$txtHid_MetroAreaID" type="hidden" id="SearchNav_txtHid_MetroAreaID" value="5" />
    <input name="SearchNav$txtHidServerTime" type="hidden" id="SearchNav_txtHidServerTime" value="11/3/2014 6:50:09 PM" />
    <input name="SearchNav$txtHid_RName" type="hidden" id="SearchNav_txtHid_RName" value="Jimmy&#39;s Urban Bar &amp; Grill" />
</div>


              <p id="BottomText">
                <span id="lblBottomText">Reservations are free and "confirmed" instantly. <a href="https://github.com/Tmee/Clone-Wars---Jimmy-s">Find out how online reservations really don't work</a>.<br></span></p>
            </p>
          </div>
        </div>
            <div id="SingleMainModule">
              <ul id="SingleRestaurantInfo">
                <li id="RestaurantName" class="RestaurantName">
                  <span id="RestInfoWB_lblRestaurantName">Jimmy's Urban Bar & Grill</span></li>
                <li id="RestaurantAddress" class="RestaurantAddress">
                  <span id="RestInfoWB_lblAddressTitle" class="Title">Address:</span>
                  <span id="RestInfoWB_lblFullAddress" class="Text">1530 Blake Street, Unit B, Denver, CO  80202</span></li>
                <li id="RestaurantNeighborhood" class="RestaurantNeighborhood">
                  <span id="RestInfoWB_lblNeighborhoodTitle" class="Title">Neighborhood:</span>
                  <span id="RestInfoWB_lblNeighborhood" class="Text">Downtown / LoDo</span></li>
                <li id="RestaurantCuisine" class="RestaurantCuisine">
                  <span id="RestInfoWB_lblCuisineTitle" class="Title">Cuisine:</span>
                  <span id="RestInfoWB_lblCuisine" class="Text">American</span></li>
                <li id="RestaurantPrice" class="RestaurantPrice">
                  <span id="RestInfoWB_lblPriceTitle" class="Title">Price:</span>
                  <span id="RestInfoWB_lblPrice" class="Text">$30 and under</span></li>
               </ul>
            </div>
          </div>
        </div>
      </div>

<!-- BEGIN FOOTER -->

<div id="BotNav_sitefooterWhiteLabel" class="demoFooter">
    <div class="partnered">
        Jimmy's Urban Bar & Grill has partnered with Turing 1409 to provide free, mildly (some could say not at all) secure and instantly confirmed online faux reservations.
        <a id="BotNav_linkLearnMore" class="demoFooterLink" href="javascript:openWindow(&#39;http://www.opentable.com/popups/otsecret.aspx&#39;,360,380,&#39;nav&#39;,0,1)">Learn More.</a>
    </div>
    <img id="BotNav_imgRestLogo" title="Powered By OpenTable: Restaurant Reservations. Right this way." class="footerPoweredByLogo" Text="Powered By OpenTable: Restaurant Reservations. Right this way." src="/img/buttons/poweredbyOpenTableStacked.png" alt="Powered By OpenTable: Restaurant Reservations. Right this way." style="border-width:0px;" />
    <ul class="demoFooterList">
        <li id="demoFooterItemOne" class="demoFooterItem">
            <a id="BotNav_linkAgreement" class="demoFooterLink" href="google.com" target="_blank">OpenTable Terms of Use</a>
        </li>
        <li id="demoFooterPipe" class="demoFooterItem">|</li>
        <li id="demoFooterItemTwo" class="demoFooterItem">
            <a id="BotNav_linkPrivacyPolicy" class="demoFooterLink" href="google.com" target="_blank">OpenTable Privacy Policy</a>
        </li>
        <li id="demoFooterItemThree" class="demoFooterItem">© 2014 OpenTable, Inc.</li>
    </ul>
</div>


<div id="BotNav_SystemInfo" class="SystemInfo">
    <script type="text/javascript">
        function InsertBuildAndMachineName() {
            var elementSystemInfo = document.getElementById("BotNav_SystemInfo");
            if (elementSystemInfo != null) {
                elementSystemInfo.appendChild(document.createTextNode('(Build Version:Web_14_25_145.prod.com) (Machine Name:SC-NA-WEB-19)'));
            }
        }
        InsertBuildAndMachineName();
    </script>
</div>



<!-- END FOOTER -->


<br />







<!-- SiteCatalyst code version: H.22.1.
Copyright 1997-2011 Adobe, Inc. More info available at
http://www.omniture.com -->
<script type="text/javascript">
<!--
var s_account="otrestref";
 //-->
</script>
<script type="text/javascript" src="/jscripts/s_code.js?v=Web_14_25_145"></script>
<script type="text/javascript">
<!--

s.charSet="UTF-8";
window.optimizely = window.optimizely || [];
window.optimizely.push("sc_activate");
s.pageName="restrefwhitelabelsingle.aspxsearchpage";
s.channel="Denver / Colorado";
s.prop1="Denver / Colorado:search";
s.prop2="Denver / Colorado:search:single";
s.prop7="Logged Out";
s.prop32="Jimmy's Urban Bar & Grill";
s.prop34="CO";
s.prop35="restrefwhitelabel";
s.prop38="restrefwhitelabelsingle.aspxsearchpage";
s.prop54=s_getLoadTime();
s.state="CO";
s.zip="80202";

s.eVar33="112705";
s.eVar36="anonymous";
s.eVar38="112705";
s.eVar39="Denver / Colorado";
s.eVar43="restrefwhitelabelsingle.aspxsearchpage";
s.eVar45="Single.aspxRestRef";
s.eVar50="restrefwhitelabelsingle.aspxsearchpage";
s.eVar57="WebRedesign_Old";
s.eVar74="old_architecture_olddesign";
s.events="event15";
function DoSiteCatalystCall(){
  var s_code=s.t();
if(s_code && s_code!='')document.write('<div style="">' + s_code + '</div>')
}
DoSiteCatalystCall();//-->
</script>
<script type="text/javascript">
<!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//-->
</script>
<noscript><a href="http://www.omniture.com" title="Web Analytics"><img src="http://o.opentable.com/b/ss/otrestref/1/H.22.1--NS/0" height="1" width="1" border="0" alt="" /></a></noscript>
  <!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.22.1. -->





<input id="CurrentOTPage" type="hidden" value="single" />





<div id="BotNav_pnlBrightTag">

    <script type="text/javascript">
        (function () {
            var tagjs = document.createElement("script");
            var s = document.getElementsByTagName("script")[0];
            tagjs.async = true;
            tagjs.src = "//s.btstatic.com/tag.js#site=d0upCKz";
            s.parentNode.insertBefore(tagjs, s);
        }());
    </script>
    <noscript>
    <iframe src="//s.thebrighttag.com/iframe?c=d0upCKz" width="1" height="1"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </noscript>

</div>




<script type="text/javascript">
//<![CDATA[
var alphaMonthArray =  new Array('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec');
var arrDayOfWeekName =  new Array('S', 'M', 'T', 'W', 'T', 'F', 'S');
var Page_ValidationSummaries =  new Array(document.getElementById("SearchNav_vsErrorSummary"));
var Page_Validators =  new Array(document.getElementById("SearchNav_OTDateSearch_valDateChecker"), document.getElementById("SearchNav_OTDateSearch_valDateTimeCheck"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var SearchNav_OTDateSearch_valDateChecker = document.all ? document.all["SearchNav_OTDateSearch_valDateChecker"] : document.getElementById("SearchNav_OTDateSearch_valDateChecker");
SearchNav_OTDateSearch_valDateChecker.controltovalidate = "SearchNav_OTDateSearch_theOTDate";
SearchNav_OTDateSearch_valDateChecker.errormessage = "You have entered an invalid date. Please re-enter a date in the format specified: mm/dd/yyyy";
SearchNav_OTDateSearch_valDateChecker.display = "None";
SearchNav_OTDateSearch_valDateChecker.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
SearchNav_OTDateSearch_valDateChecker.validationexpression = "(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\\d\\d";
var SearchNav_OTDateSearch_valDateTimeCheck = document.all ? document.all["SearchNav_OTDateSearch_valDateTimeCheck"] : document.getElementById("SearchNav_OTDateSearch_valDateTimeCheck");
SearchNav_OTDateSearch_valDateTimeCheck.errormessage = "Please follow the date format specified to enter dates";
SearchNav_OTDateSearch_valDateTimeCheck.display = "None";
SearchNav_OTDateSearch_valDateTimeCheck.evaluationfunction = "CustomValidatorEvaluateIsValid";
var SearchNav_vsErrorSummary = document.all ? document.all["SearchNav_vsErrorSummary"] : document.getElementById("SearchNav_vsErrorSummary");
SearchNav_vsErrorSummary.displaymode = "SingleParagraph";
//]]>
</script>


<script type="text/javascript">
//<![CDATA[
FbInit('123876194314735');AttemptAutoLoginForAnonUser();//]]>
</script>
<script type='text/javascript'>
                                  try {
                                    var gplusClientId = '1011230515163.apps.googleusercontent.com';
                                    var secureHost = 'secure.opentable.com';
                                    window.___gcfg = {parsetags:'explicit', lang:'en-US',  isSignedOut:true, 'oauth-flow': { 'toast': { 'position': 'top' }} };
                                    (function() {
                                      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                      po.src = 'https://apis.google.com/js/client:plusone.js?onload=otgplusonload';
                                      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                    })();
                                  } catch (exception) {
                                    //
                                  }
                                </script>
<script type="text/javascript">
//<![CDATA[
gBlnOverlayClickNoRemove = true;jQuery(function() {{jQuery.receiveMessage(function(e){{HandleChildWindowMessage(e)}},'https://secure.opentable.com')}});var bIsPDPage = 0;
var defaultDateString = 'MM/dd/yyyy';
var hidVarName = 'SearchNav_OTDateSearch_hidDtVal';
var CONST_MONTH_IDX = 0;
var CONST_DATE_IDX = 1;
var CONST_YEAR_IDX = 2;
var MonthDayOrder = '[Month] [Year]';
var sDateDelim = '/';
var dtDefaultDate = '11/03/2014';
var sDefaultFormatErrMsg = 'You have entered an invalid date. Please re-enter a date in the format specified: mm/dd/yyyy';
var rDelimRegEx = /^(|||-|||||||||)|||(|||-|||||||||-||||||||)|||(|||||)||||$/ig;
var iFirstDayOfWeek = 0;
var iGMTOffsetMins = -420;
var sTimeInPastMessage = 'You have entered a date and time that has passed. Please re-enter a valid date and time.';
var sTimeFieldID = 'SearchNav_OTDateSearch_cboHourList';
var sDateFieldID = 'SearchNav_OTDateSearch_theOTDate';
var sDefaultTimeValID = 'SearchNav_OTDateSearch_hdnDefTimeval';
var bIsFavPage = 0;
var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        //]]>
</script>
</form>
  </div>

</body>
</html>
